.wd-tuit-image-style {
    width: 70px;
    height: 70px;
    border-radius: 1em;

}

.wd-border-thin {

    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
}
.wd-grid-col-minor-page {
    width: 5%;
    float: right;
    padding-top: 0px;
}

.wd-grid-col-avatar-minor {
    float: left;
    padding-top: 12px;
    padding-left: 16px;
    /* border: 1px solid red; */
}
.wd-circular-image {
    float: left;
    /*padding-top: 12px;*/
    /*padding-left: 16px;*/
    width: 50px;
    height: 50px;
}

.wd-circular-image3 {
    float: left;
    margin-top: -60px;
    width: 100px;
    height: 100px;
}

.wd-circular-image2 {
    float: left;
    width: 40px;
    height: 40px;
}


.fa-check-circle {
    color: #4285F4;
}
.wd-grid-col-tuit-major {
    float: left;
    width: 90%;
    /* border: 1px solid red; */
    padding-top: 12px;
    padding-left: 12px;
}

.wd-main-tuit-content {
    font-size: 15px;
    padding-right: 16px;
    padding-bottom: 12px;
    margin-top: -10px;
}

.wd-tuit-image {
    width: 480px;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wd-tuit-image-description-title {
    color: white;
    font-size: 15px;
    padding: 12px;
}
.wd-tuit-image-description-content {
    color: rgb(110, 118, 125);
    font-size: 15px;
    margin-top: -20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.wd-border-bottom-corners {
    width: 480px;
    border: 1px solid rgb(47, 51, 54);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.wd-grid-row-icons {
    padding-top: 12px;
    clear: both;
    width: 480px;
}

.wd-grid-row-first {
    width: 25%;
    float: left;
}

.wd-grid-row-first a {
    text-decoration: none;
    color: lightgray;
}

.wd-comments-style {
    padding-left: 12px
}

.wd-username-style {
font-size: 15px;
}

.profilepic {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
}

.profilepic .profilepic__content {
    opacity: 1;
}

.profilepic .profilepic__image {
    opacity: .5;
}

.backpic {
    position: relative;
    overflow: hidden;
    background-color: #111;
}

.backpic .profilepic__content {
    opacity: 1;
}

.backpic .profilepic__image {
    opacity: .5;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    width: 100%;
    transition: opacity .2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

