.wd-grid-col-major-page {
    width: 95%;
    float: left;
}

.wd-grid-col-minor-page {
    width: 5%;
    float: right;
    padding-top: 32px;
}

.wd-heading-style {
    padding-left: 16px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
}
.wd-username-style {
    padding-left: 16px;
    margin-top: -20px;
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-grid-col-avatar-minor {
    float: left;
    padding-top: 12px;
    padding-left: 16px;
    /* border: 1px solid red; */
}
.wd-circular-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-grid-col-tuit-major {
    float: left;
    width: 90%;
   /* border: 1px solid red; */
    padding-top: 12px;
    padding-left: 12px;
}

.wd-main-tuit-content {
    font-size: 15px;
    color: white;
    width: 506px;
    padding-right: 16px;
    padding-bottom: 12px;
    margin-top: -10px;
}

.wd-tuit-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.wd-tuit-image-description-title {
    color: white;
    font-size: 15px;
    padding: 12px;
}
.wd-tuit-image-description-content {
    color: rgb(110, 118, 125);
    font-size: 15px;
    margin-top: -20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.wd-border-bottom-corners {
    width: 504px;
    border: 1px solid rgb(47, 51, 54);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.wd-grid-row-icons {
    padding-top: 12px;
    clear: both;
    width: 504px;
}

.wd-grid-row-first {
    width: 25%;
    float: left;
}

.wd-grid-row-first a {
    text-decoration: none;
    color: lightgray;
}